.jumbotron-image {
    background-image:  url(../../assets/jumbotron.svg);
    background-size: cover;
    background-position: center;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 25%;
    
}
