.input-style {
    border-color: #3aaeee;
    box-shadow: 0 0 3px #3aaeee;
}
.input-style::placeholder {
    color: #3aaeee ;
}
.input-style:focus {
    border-color: #3aaeee;
    box-shadow: 0 0 5px #3aaeee;
}